@{
    ViewBag.Title = "Contact";
}

<div class="container" style="background-color: #fff; min-height: 87.5vh;">
    <h2 id="header">Please get in touch and our expert support team will answer all your questions</h2>
    <hr />

    <div class="row" style="width: 80%; margin: auto;">
        <div class="col-md-6">
            <div class="contact-header">
                <h3 style="font-size: 2.5em; font-weight: bold;">Contact Form</h3>
            </div>
            <div class="contact-form">
                <input type="text" class="form-control" placeholder="Name" />
                <input type="text" class="form-control" placeholder="Email" />
                <input type="text" class="form-control" placeholder="Phone" />
                <p style="font-size: 1.2em">Are you an existing customer?</p>
                <div class="existing-user">
                    <input type="radio" name="existing" /> Yes
                    <input type="radio" name="existing" /> No
                </div>
                <textarea class="form-control" cols="50" rows="8" style="cursor: pointer;" placeholder="Message"></textarea>
                <input type="submit" class="btn btn-success contact-submit" />
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <h3 style="font-size: 2.5em; font-weight: bold; text-align: center;">Where to Find Us</h3>
            </div>
            <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 400px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23721.968459886335!2d21.41081910873838!3d41.99499456309274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1354144ac20fc381%3A0xe2a89a562b0da73d!2sCentar%2C%20Skopje%201000!5e0!3m2!1sen!2smk!4v1629537210240!5m2!1sen!2smk" frameborder="0"
                        style="border:0" allowfullscreen></iframe>
            </div>
            <div class="addresses">
                <address>
                    Nikola Kljusev<br />
                    <abbr title="Phone">Phone:</abbr>
                    02389485
                </address>

                <address>
                    <strong>Support:</strong>   <a href="mailto:Support@computermadness.com">Support@computermadness.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@computermadness.com">Marketing@computermadness.com</a>
                </address>
            </div>
        </div>
    </div>
</div>

<style>
    #header {
        padding-top: 20px;
        text-align: center;
        font-weight: bold;
        height: auto;
        width: 80%;
        margin: auto;
        color: #00a328;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }

    .grid-item {
    }

    .contact-form input {
        display: block;
        margin-bottom: 10px;
        font-size: 1.2em;
        cursor: pointer;
    }

    .contact-form textarea {
        font-size: 1.2em;
    }

    .existing-user input {
        display: inline-block;
    }

    .existing-user {
        font-size: 1.2em;
    }

    .contact-submit {
        margin-top: 20px;
        width: 100px;
        height: auto;
        text-align: center;
    }

    .map-container {
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    }

    .map-container iframe {
        left: 0;
        top: 0;
        height: 400px;
        width: 450px;
        position: absolute;
    }
</style>
