@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid" style="padding: 0; width: 100%;">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" style="cursor: pointer;">

            <div class="item active">
                <a href="/Computers"><img src="~/Content/Images/CHOOSE YOUR DREAM  GAMING PC NOW.png" alt="ChoosePC" style="width:100%; height:500px;"></a>
            </div>

            <div class="item">
                <a href="/Computers?MSI"><img src="~/Content/Images/MSI-Gaming-PC.jpg" alt="MSIGamingPC" style="width:100%; height:500px;"></a>
            </div>

            <div class="item">
                <a href="/Laptops?Zenbook"><img src="~/Content/Images/asus-zenbook.jpg" alt="AsusZenbookDuo" style="width:100%; height:500px;"></a>
            </div>

            <div class="item">
                <a href="/Laptops?MSI"><img src="~/Content/Images/Gaming-Month.jpg" alt="GamingMonth" style="width:100%; height:500px;"></a>
            </div>

            <div class="item">
                <a href="/Computers?RTX"><img src="~/Content/Images/rtxPC.jpg" alt="RTXPC" style="width:100%; height:500px;"></a>
            </div>

            <div class="item">
                <a href="/Laptops?Macbook"><img src="~/Content/Images/MacBook_Pro.jpeg" alt="MacBookPro" style="width:100%; height:500px;"></a>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container-fluid" style="height: auto; padding-bottom: 50px; background-color: #fff; text-align: center;">
    <div class="fadeTo" id="firstRow" style="text-align: center;">
        <div class="middle-text" style="width: auto; text-align: center;">
            <h2 style="text-align: center; font-size: 4em;">Welcome</h2>
            <p style="text-align: center; font-size: 1.4em;">
                We know that your PC requirements are as individual as you are. Whether you are looking for the latest high-end system for hardcore gaming or a reliable companion for your daily office tasks, together we will find the perfect PC for you in our online shop.
            </p>
        </div>
    </div>
</div>

<div class="grid-1" style="height: auto; background-color: #ebebeb;">
    <div class="fadeRight">
        <img src="~/Content/Images/pc-photo.png" style="width: 90%; height: auto;" />
    </div>
    <div class="fadeRight text-1" style="text-align: right;">
        <h2 style="font-weight: bold; font-size: 2.7em;">Our PCs</h2>
        <p style="font-size: 1.5em;">Every PC we build is custom, hand-built. You can choose a gaming pc   and enjoy the beauties of the most recent games or you can choose a workstation and enjoy in your workflow without any stutter. We offer you the best PCs with the latest and greatest components so you can enjoy every game or task that comes your way without any lag. We guarantee for the quality and performance you are getting.</p>
        <a href="/Computers/Index"><button class="btn btn-success" style="font-size: 1.4em;">Check out</button></a>
    </div>
</div>

<div class="main-logos" style="background-color: #fff;">
    <div class="title-logos fadeTo2">
        <h2 style="text-align: center; font-weight: bold; font-size: 3em; padding-bottom: 20px; color: #00a328;">Brands we are working with</h2>
    </div>
    <div class="logos fadeTo2">
        <div class="">
            <img src="~/Content/Logos/msi-gaming.svg" style="width: 80px; height: 80px;" />
            <h3>MSI</h3>
        </div>
        <div class="">
            <img src="~/Content/Logos/omen.png" style="width: 80px; height: 80px;" />
            <h3>OMEN</h3>
        </div>
        <div class="">
            <img src="~/Content/Logos/apple-13.svg" style="width: 80px; height: 80px;" />
            <h3>APPLE</h3>
        </div>
        <div>
            <img src="~/Content/Logos/asus-logo.svg" style="width: 80px; height: 80px;" />
            <h3>ASUS</h3>
        </div>
        <div class="">
            <img src="~/Content/Logos/lenovo-2.svg" style="width: 80px; height: 80px;" />
            <h3>LENOVO</h3>
        </div>
        <div class="">
            <img src="~/Content/Logos/dell-2.svg" style="width: 80px; height: 80px;" />
            <h3>DELL</h3>
        </div>
        <div class="">
            <img src="~/Content/Logos/hp-2.svg" style="width: 80px; height: 80px;" />
            <h3>HP</h3>
        </div>
        <div class="">
            <img src="~/Content/Logos/corsair-3.svg" style="width: 80px; height: 80px;" />
            <h3>CORSAIR</h3>
        </div>
    </div>
</div>

<div class="grid-2" style="height: auto; background-color: #ebebeb;">
    <div class="fadeLeft text-2" style="text-align: left; font-size: 1.2em;">
        <h2 style="font-weight: bold; font-size: 2.7em; padding-top: 10px;">Our Laptops</h2>
        <p style="font-size: 1.3em;">If you want a portable gaming machine or workstation you should go for one of our laptops. We offer you the best laptops on the market. You can choose a budget laptop that will be great for day-to-day use or you can go for one of our premium laptops. When it comes to premium you can choose a gaming laptop that will be able to handle all the recent games or a laptop that will be great for working. We only work with serious brands and we guarantee for the quality you are getting.</p>
        <a href="/Laptops/Index"><button class="btn btn-success" style="font-size: 1.4em;">Check out</button></a>
    </div>
    <div class="fadeLeft">
        <img src="~/Content/Images/laptop-photo.jpeg" style="width: 90%; height: auto; margin-left: 10%;" />
    </div>
</div>

<div class="container-fluid">
    <div class="row" id="secondRow" style="height: auto; padding-top: 20px; background-color: #fff;">
        <div class="col-md-4 fadeTo3">
            <img src="~/Content/Images/pc_close.jpg" style="width: 270px; height: 250px;" />
            <h3>High quality brand-name components</h3>
            <p>We know how to combine hardware components to achieve first-class performance and long-term stability. We only use branded components of the highest quality, with an extremely low fault rate.</p>
        </div>
        <div class="col-md-4 fadeTo3">
            <img src="~/Content/Images/monthly-promotions.jpg" style="width: 270px; height: 250px;" />
            <h3>Monthly Promotions</h3>
            <p>Get free games, hardware upgrades and more added value on select gaming desktops and laptops!</p>
        </div>
        <div class="col-md-4 fadeTo3">
            <img src="~/Content/Images/customer_support.jpg" style="width: 270px; height: 250px;" />
            <h3>Quick and competent customer support</h3>
            <p>Whether you are looking for a PC for office and multimedia tasks, or a high-performance computer for hardcore gaming, we will give you individually tailored advice during the configuration process. We are happy to advise you even after your warranty has expired. Don't hesitate to get in touch today!</p>
        </div>
    </div>
</div>

<div class="alerts" data-register="@ViewBag.registerSuccess" data-login="@ViewBag.loginSuccess" style="display: none;"></div>


<style>
    #firstRow h2 {
        color: #00a328;
        font-weight: bold;
        font-size: 5em;
    }

    #firstRow p {
        color: black;
    }

    #firstRow {
        text-align: center;
    }

    #secondRow {
        text-align: center;
        color: black;
    }

    #secondRow img {
        border: 5px solid #00c330;
        border-radius: 50%;
    }

    #secondRow h3 {
        font-weight: bold;
    }

    .middle-text {
        margin-top: 30px;
    }
    .grid-1 {
        display: grid;
        grid-template-columns: 50% 50%;
        padding-right: 50px;
    }
    .grid-2 {
        display: grid;
        grid-template-columns: 50% 50%;
        padding-left: 50px;
    }
    .main-logos {
        min-height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .logos {
        display: flex;
        flex-wrap: wrap;
    }

    .logos div {
        flex-wrap: wrap;
        text-align: center;
        padding-bottom: 2%;
    }

    .title-logos {
        width: 100%;
    }

    .logos div h3 {
        display: none;
    }

    .logos div * {
        font-weight: bold;
    }

    .logos div:not(:last-child) {
        margin-right: 100px;
    }

    .swal2-popup  {
        font-size: 1.5rem;
    }

    @@media screen and (max-width: 1024px) {
        .fadeLeft{
            display: none;
        }
        .fadeRight {
            display: none;
        }
        .text-1 {
            display: block;
            text-align: justify !important;
            margin-left: 5%;
        }
        .text-2 {
            display: block;
            text-align: justify !important;
            margin-right: 5%;
        }
        .grid-1 {
            display: grid;
            grid-template-columns: 100% !important;
        }
        .grid-2 {
            display: grid;
            grid-template-columns: 100% !important;
        }
    }
</style>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                var windowBottom = $(this).scrollTop() + $(this).innerHeight();
                $(".fadeTo").each(function () {
                    var objectBottom = $(this).offset().top + $(this).outerHeight();

                    $(".fadeTo").css({ opacity: 0 })
                    if (objectBottom*0.80 <= windowBottom) {
                        if ($(this).css("opacity") == 0) { $(".fadeTo").fadeTo(1500, 1) };
                    }
                });
                $(".fadeTo2").each(function () {
                    var objectBottom = $(this).offset().top + $(this).outerHeight();

                    $(".fadeTo2").css({ opacity: 0 })
                    if (objectBottom * 0.95 <= windowBottom) {
                        if ($(this).css("opacity") == 0) { $(".fadeTo2").fadeTo(1500, 1) };
                    }
                });
                $(".fadeTo3").each(function () {
                    var objectBottom = $(this).offset().top + $(this).outerHeight();

                    $(".fadeTo3").css({ opacity: 0 })
                    if (objectBottom * 0.87 <= windowBottom) {
                        if ($(this).css("opacity") == 0) { $(".fadeTo3").fadeTo(1500, 1) };
                    }
                });
                $(".fadeRight").each(function () {
                    var objectBottom = $(this).offset().top + $(this).outerHeight();

                    $(".fadeRight").css({ position: "relative", right: 200, opacity: 0 })
                    if (objectBottom*0.60 <= windowBottom) {
                        if ($(this).css("opacity") == 0) { $(".fadeRight").animate({ left: 0, opacity: 1 }, 1500); }
                    }
                });
                $(".fadeLeft").each(function () {
                    var objectBottom = $(this).offset().top + $(this).outerHeight();

                    $(".fadeLeft").css({ position: "relative", left: 200, opacity: 0 })
                    if (objectBottom*0.85 <= windowBottom) {
                        if ($(this).css("opacity") == 0) { $(".fadeLeft").animate({ left: 0, opacity: 1 }, 1300); }
                    }
                });

            }).scroll();

            if ($(".alerts").attr("data-login") === "loginSuccess") {
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: 'Signed in successfully'
                })
            }

            if ($(".alerts").attr("data-register") === "registerSuccess") {
                Swal.fire("Registered", "You successfully created your account.", "success")
            }
        });
    </script>
}
